/*#grid-snap {
  width: 40%;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}*/

body {
  overflow: hidden;
}

.grid-stack {
  & > .grid-stack-item {
    $gridstack-columns: 24;

    @for $i from 1 through $gridstack-columns {
      &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
      &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
      &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
      &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
  }
}



.grid-stack {
  background: lightgoldenrodyellow;
}



#calendar {
  max-width: 900px;
  margin: 0 auto;
  .fc-view-container { overflow-x: scroll; }
  .fc-view.fc-agendaDay-view.fc-agenda-view{ width: 500%; }  /* **For 2 day view** */
  .fc-view.fc-agendaTwoDay-view.fc-agenda-view{  width: 500%; }
}




.timeline {
  .left-management {
    &> * {
      height: 20px;
      margin: 0 0 10px 0;
      background: red;
    }
  }
}





#grid1 {
  background: lightgoldenrodyellow;
}

#grid2 {
  background: lightcyan;
}



.top {
  padding-top: 100px;
}

[role="main"] {
  padding-top: 0;
}



.hor-scroll {
  overflow-y: auto;
  white-space:nowrap;
  width: 100%;

}

/*.grid-stack-item[data-gs-width="3"]  { width: 30px!important; }
.grid-stack-item[data-gs-width="2"]  { width: 20px!important; }
.grid-stack-item[data-gs-width="1"]  { width: 10px!important; }

.grid-stack-item[data-gs-x="2"]  { left: 20px!important; }
.grid-stack-item[data-gs-x="1"]  { left: 10px!important; }*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:horizontal {
  height: 11px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.timeline {
  width: 100%;
  overflow: scroll;
}

.over-timeline {
  overflow-x: auto;
  width: 20000px;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  .leftinfo {
    display: inline-block;
    width: 100px;
    float: left;
    font-size: 13px;
  }
  .item {
    clear: both;
  }
  .rightboxes {
    //overflow-y: auto;
    //white-space: nowrap;
    width: calc(100% - 150px);
    margin-left: 40px;
    margin-bottom: -5px;
    overflow: hidden;
    div {
      width: 20px;
      height: 20px;
      display: inline-block;
      float: left;
      //margin-right: -1px;
      //overflow-y: auto;
      white-space:nowrap;
      border: 1px solid #ccc;
    }
    .active {
      background: green;
    }
    .ds-selected {
      background: green;
    }
  }


  .top-info {
    clear: both;
    margin-left: 1px;
    .sec {
      text-align: center;
      float: left;
      width: 200.00px;
      display: inline-block;
      border-right: 1px solid #ccc;
    }
  }
  .grid {
    padding-bottom: 30px;
    clear: both;
    position: relative;
    .line {
      display: block;
      content: ' ';
      position: absolute;
      left: 0;
      top:0;
      width: 5px;
      height: 200px;
      background: red;
    }
  }
}


.top-controls {
  position: relative;
}

.play {
  position: fixed;
  top: 120px;
  right: 20px;
}

.play,.add {
  font-size: 30px;
  float: right;
  color: #474747;
  font-weight: bold;
  img {
    max-width: 50px;
    margin-top: -7px;
  }
  &:hover {
    color: #474747;
    text-decoration: none;
  }
}
.add {
  margin-right: 15px;
}